*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    margin: 0;
    background-color: #B2DDF7;
}
header{
    font-weight: 500;
    font-size: 5vmin;
    padding: 1vmin;
    background-color: #FF101F;
    text-align: center;
    color: white;

}
h1{
    text-align: center;
    color:white;
}
#game-board{
    display: block;
    column-count: 3;
    -webkit-column-count: 3;
    /* width: 290px; */
}
#current-turn{
    color: maroon;
}
#replayBtn{
    text-align: center;
    font-size:25px;
    padding:6px;
    display: block;
    margin: 0 auto;
    float:none;
    margin-top: 340px;
    border-radius: 10px;
    
}


#game-board-wrapper{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 300px;

    


}
.theme-controller-button{
    height:20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
    
}
.color-swatch{
    height:20px;
    width:20px;
    padding: 0;
    
    display: inline-block;

}
ul{
    display: block;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 290px;

}



li {

    height: 100px;
    width: 100px;
    line-height: 100px;
    display:block;
    padding: 0;
    font-size: 75px;
    text-align: center;
    list-style:none;
    list-style-position: inside;
    border: 1.5px solid white;
    
}
h2{
    color: white;
    padding:3px;
}
#theme-controller-wrapper{
    height: 800px;
    width: 250px;
    background-color:white;
    border-radius: 0px 10px 10px 0px;
    position: absolute;
    /* visibility: hidden; */
    margin-left: -300px;
    transition: 0.5s ease-in-out;
    padding:10px;
    
}

#theme-controller-wrapper:active{
    visibility: visible;
}

.active{
    visibility: visible;
}

#theme-header{
    background-color: #FF4956;
    border-radius:0px 0px 5px 0px ;
    margin: 0px;
    width:140px;
}
#bg-controller-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    

}
#head-controller-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    

}